In [337]:
import pandas as pd 
import numpy as np
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity

# Loading Language Model

In [338]:
#model = SentenceTransformer('bert-base-nli-mean-tokens')
model = SentenceTransformer('paraphrase-MiniLM-L6-v2')

# Text Similarity Varoius Techniques

In [339]:
df = pd.read_csv('Mapped_with_context.csv')

In [340]:
df.head()

,Unnamed: 0,id,search_text,is_clicked,index_name,index_type,title,url,conversion_time,search_time,context
0,0,00000045-0de2-4ad5-9bc6-47c35b213b2f,time travel,True,aws_docs,aws_doc,SELECT,https://docs.databricks.com/spark/latest/spark...,2022-05-18 13:09:51.000,2022-05-18 13:09:43.000,NaN
1,1,0000d3c6-1967-49a3-9603-490249344096,dlt.create_table,True,aws_docs,aws_doc,Delta Live Tables cookbook,https://docs.databricks.com/data-engineering/d...,2022-06-28 09:08:30.000,2022-06-28 09:08:29.000,NaN
2,2,0001161c-fe72-4ba2-8cd1-70aa4e8d218f,insert overwrite ... partitions (a=x,True,aws_docs,aws_doc,INSERT OVERWRITE DIRECTORY,https://docs.databricks.com/spark/latest/spark...,2022-03-21 19:54:03.000,2022-03-21 19:54:03.000,NaN
3,4,00015a7b-7545-4162-a8a8-fdb101426567,date minus,True,aws_docs,aws_doc,Dates and timestamps,https://docs.databricks.com/spark/latest/dataf...,2022-06-17 09:23:33.000,2022-06-17 09:23:33.000,NaN
4,5,000182cc-4c6b-4165-8b73-4e46665942b7,live,True,aws_docs,aws_doc,Delta Live Tables cookbook,https://docs.databricks.com/data-engineering/d...,2022-06-09 15:12:54.000,2022-06-09 15:12:54.000,NaN

In [341]:
df_title_search_text = df[['search_text', 'title']]

In [342]:
df_title_search_text.head()

                            search_text                       title
0                           time travel                      SELECT
1                      dlt.create_table  Delta Live Tables cookbook
2  insert overwrite ... partitions (a=x  INSERT OVERWRITE DIRECTORY
3                            date minus        Dates and timestamps
4                                  live  Delta Live Tables cookbook

# TRAIN SET

In [347]:
df_train = df_title_search_text["search_text"].tolist()
df_train_unique= list(set(df_train))

In [344]:
len(df_train_unique)

27073

# TEST SET

In [348]:
read_test = pd.read_csv('databricks1-Copy1.csv')
df_test = read_test['title'].tolist()
df_test_unique = list(set(df_test))

In [349]:
len(df_test_unique)

86

# Bert For Measuing Text Similarity

In [327]:
# sentences = [
#     "Three years later, the coffin was still full of Jello.",
#     "The fish dreamed",
#     "python html css fault",
#     "conda activate",
#     "python css"
# ]

# test_sentences = [
#     "Three years later, the coffin was still full of Jello.",
#     "python html",
#     "The person box was packed with jelly .",
# ]

In [332]:
# similarity_score = cosine_similarity([test_sentence_embedding[1]],train_sentence_embedding[0:],).flatten()
# pd.DataFrame({"Test_data":test_sentences[1],"Sentences":sentences[0:],"Similarity_score":similarity_score})

In [384]:
# Train the Embedding 
#train_embedding = model.encode(df_train_unique)



def simalarity(test_set):
    test_embedding = model.encode(df_test_unique)
    print(len(test_embedding))
    # append_data = []
    # for query in range(0,len(test_embedding)):
    #     similarity_score = cosine_similarity([test_embedding[query]],train_embedding[0:],).flatten()
    #     data = pd.DataFrame({"Test_set_query":df_test_unique[query],"Search_query":df_train_unique,"similarity_Score":similarity_score })
    #     append_data.append(data)
    # appended_data = pd.concat(append_data)
    # return appended_data

In [385]:
cosine_data = simalarity(df_test_sample)

86

In [352]:
cosine_data = cosine_data.sort_values(['similarity_Score'], ascending=[False])

In [383]:
cosine_data.head(50)

,Test_set_query,Search_query,similarity_Score
11586,Could not find ADLS Gen2 Token,could not find adls gen2 token,1.000000
1694,SQL access,sql access,1.000000
13307,whitelist,whitelist,1.000000
15742,Connection pool shut down,connection pool shut down,1.000000
4234,Cluster terminated.Reason:Self Bootstrap Failure,cluster terminated.reason:self bootstrap failure,1.000000
22803,Cluster terminated.Reason:Self Bootstrap Failure,cluster terminated. reason: self bootstrap fai...,1.000000
14145,Job Failure,job failure,1.000000
14145,Job failure,job failure,1.000000
20624,Cluster Terminating,cluster terminating,1.000000
7557,SQL access,sql-access,0.971568
5930,Job failure,jobs failure,0.968951
5930,Job Failure,jobs failure,0.968951
10468,SQL access,sql data access,0.954614
7136,whitelist,whitelisted,0.944673
23921,Cluster Terminating,cluster termination,0.941570
20652,Cluster Terminating,cluster terminate,0.933351
9586,Cluster Terminating,cluster terminated,0.932198
20604,Job failure,fail job,0.916491
20604,Job Failure,fail job,0.916491
5795,Cluster Terminating,terminated cluster,0.914323
13067,Cluster terminated.Reason:Self Bootstrap Failure,cluster terminated.reason:self bootstrap failu...,0.911675
24406,Job failure,failed job,0.909655
24406,Job Failure,failed job,0.909655
8054,Cluster Terminating,terminate cluster,0.903102
24087,Databricks Issue,databricks not recognized,0.899034
19969,SQL access,db sql access,0.896986
7109,Databricks Issue,databricks,0.896285
19166,Job failure,failed jobs,0.895625
19166,Job Failure,failed jobs,0.895625
10252,Job failure,job failed,0.893879
10252,Job Failure,job failed,0.893879
6709,SQL joins gives wrong result,sql joins,0.893831
10650,Databricks Issue,databricks status,0.885055
26288,SQL joins gives wrong result,joins in sql,0.882324
23200,Databricks Issue,databricks utils,0.880640
1558,[ARR][2205190040006377 ][Procter and Gamble]th...,the spark driver has stopped unexpectedly and ...,0.878412
19508,[ARR][2205190040006377 ][Procter and Gamble]th...,the spark driver has stopped unexpectedly and ...,0.877432
15020,Databricks Issue,databricks support,0.874428
157,Databricks Issue,databricks data,0.874051
25410,Cluster Terminating,cluster created on termination,0.872047
12433,Databricks Issue,databricks 11.4,0.870306
21640,Cluster Terminating,unexpected cluster termination,0.869826
7235,JDBC query connection issue,jdbc connection,0.869181
25953,SQL access,access control sql,0.868618
22345,Databricks Issue,/databricks-results,0.864544
10611,JDBC query connection issue,jdbc connection failure,0.863334
3506,Databricks Issue,databricks.utils,0.862284
23165,Databricks Issue,databricks util,0.861929
23843,Databricks Issue,databricks usage,0.859977
295,SQL joins gives wrong result,sql join,0.859255

In [365]:
#df_groupby = cosine_data.groupby(['Test_set_query','similarity_Score'])

In [368]:
#df_groupby = cosine_data.groupby('Test_set_query')['similarity_Score'].count().sort_values(ascending=False)

In [377]:
cosine_threshold_data = cosine_data.loc[(cosine_data['similarity_Score'] >= 0.6)]

In [378]:
df_groupby =  cosine_threshold_data.groupby(['Test_set_query','similarity_Score'])

In [379]:
df_groupby.first().head(50)

                                                                                                Search_query
Test_set_query                              similarity_Score
 Notebook showing function does not exist   0.602650                                      what is a notebook
                                            0.604145                                        missing function
                                            0.604378                                            notebooktask
                                            0.606468                                  notebook results small
                                            0.606502                                          notebook hangs
                                            0.607003                                        notebook results
                                            0.608079                                 share notebook function
                                            0.608818                                            notebook api
                                            0.609044                                       featured notebook
                                            0.611757                                            get notebook
                                            0.613122                                          notebook basic
                                            0.613835                                    notebook in notebook
                                            0.614452                                         notebook access
                                            0.621337                            where is my notebook located
                                            0.622060                                           set notebook*
                                            0.623075                                      notebook isolation
                                            0.628484                      call function from other notebooks
                                            0.632553          notebook failed but then succeeded with re-run
                                            0.635372                                           notebook util
                                            0.638597                   create temporary function in notebook
                                            0.645931                                      configure notebook
                                            0.648152                                       notebook features
                                            0.656394                                       notebook job fail
                                            0.683004                                      notebook functions
                                            0.700653                                          notebook error
                                            0.705359                                      notebook not found
 Spark Structured Streaming Job Not Running 0.600406                                               spark 3.0
                                            0.600526                                          spark listener
                                            0.602425                                             spark cache
                                            0.602722                                    spark code debugging
                                            0.603041                          apache spark job doesn’t start
                                            0.603327                                         spark load dbfs
                                            0.604260                                        spark master log
                                            0.604405                                              spark udfs
                                            0.604687                                           streaming job
                                            0.605147                                          spark built in
                                            0.605324                                    spark history server
                                            0.605881                                        spark.config.get
                                            0.605912                                       where is spark ui
                                            0.607646                                              sparkfiles
                                            0.607743                              dbutils within a spark job
                                            0.608225                                   spark logging classes
                                            0.608435                                       spark submit task
                                            0.610223                                    spark.scheduler.pool
                                            0.610256                               create a spark-submit job
                                            0.610914                                            job spark ui
                                            0.612652                                      spark architecture
                                            0.613046                                    com.databricks.spark
                                            0.613440                                               spark faq
                                            0.615755                                                 sparkdl

In [380]:
cosine_threshold_data.shape

(3507, 3)

In [381]:
df_groupby.first().to_excel('cosine_based_on_bert.xlsx')